In [1]:
import pandas as pd
import numpy as np

DATAPATH = "../data/"
# DATAPATH = "F:/data/"

In [2]:
df_rate = pd.read_table("F:/data/hetrec2011-movielens-2k-v2/user_ratedmovies-timestamps.dat",
                        usecols=["userID","movieID","rating"])
df_rate

        userID  movieID  rating
0           75        3     1.0
1           75       32     4.5
2           75      110     4.0
3           75      160     2.0
4           75      163     4.0
5           75      165     4.5
6           75      173     3.5
7           75      296     5.0
8           75      353     3.5
9           75      420     2.0
10          75      589     4.0
11          75      653     3.0
12          75      832     4.5
13          75      920     0.5
14          75      996     4.5
15          75     1036     4.0
16          75     1127     3.5
17          75     1215     4.5
18          75     1233     4.0
19          75     1304     2.5
20          75     1370     4.0
21          75     1374     4.0
22          75     1485     4.0
23          75     1527     4.5
24          75     1917     2.5
25          75     2011     2.0
26          75     2054     1.5
27          75     2058     4.0
28          75     2490     4.0
29          75     2571     4.5
...        ...      ...     ...
855568   71534     5147     4.0
855569   71534     5878     4.0
855570   71534     5995     5.0
855571   71534     6016     4.0
855572   71534     6818     4.5
855573   71534     6874     4.0
855574   71534     7084     4.5
855575   71534     7132     4.5
855576   71534     7238     4.0
855577   71534     7361     4.0
855578   71534     7371     2.5
855579   71534     7438     4.5
855580   71534     7579     4.0
855581   71534     7934     3.5
855582   71534     7983     5.0
855583   71534     8638     4.5
855584   71534    27727     3.5
855585   71534    33166     4.5
855586   71534    33564     4.0
855587   71534    35836     0.5
855588   71534    39869     4.5
855589   71534    40629     2.0
855590   71534    40819     4.0
855591   71534    41285     3.5
855592   71534    42900     4.0
855593   71534    44555     4.0
855594   71534    46578     4.0
855595   71534    48516     4.5
855596   71534    61075     5.0
855597   71534    62049     4.5

[855598 rows x 3 columns]

In [3]:
file = open(DATAPATH + 'movieID.txt', 'r')
movieID = [int(x) for x in file]
file.close()
print(movieID)

[8207, 8586]

In [4]:
df_new = pd.DataFrame(columns=["userID","movieID","rating"])
for id in movieID:
    df_new = df_new.append(df_rate[df_rate.movieID == id])
df_new

       userID movieID  rating
1608      267    8207     3.5
4297      533    8207     4.5
5196      636    8207     3.5
7149     1122    8207     5.0
9911     1224    8207     4.0
30141    2852    8207     4.0
41865    3853    8207     2.5
43074    4022    8207     4.0
44379    4078    8207     4.5
50160    4827    8207     5.0
59463    5917    8207     4.5
71083    6477    8207     4.0
76503    6757    8207     3.0
80521    7181    8207     3.0
82114    7252    8207     4.0
84938    7461    8207     4.5
87598    7612    8207     4.0
90659    7727    8207     4.5
103067   8651    8207     4.5
109260   8892    8207     4.0
113535   9085    8207     5.0
117502   9470    8207     4.0
123197  10420    8207     2.5
124940  10516    8207     4.0
136915  11554    8207     3.5
137347  11569    8207     3.5
137574  11577    8207     3.5
143436  11937    8207     4.0
148458  12296    8207     4.0
153281  12759    8207     4.0
...       ...     ...     ...
652748  52806    8207     4.0
660142  53315    8207     3.0
664418  54087    8207     4.0
666561  54371    8207     4.0
671407  55236    8207     4.0
672538  55280    8207     3.0
689653  57018    8207     4.0
690698  57022    8207     4.0
697441  57696    8207     3.5
711169  59219    8207     4.0
716396  59529    8207     3.5
719550  60072    8207     4.5
729610  60693    8207     4.0
734405  60971    8207     4.0
739250  61869    8207     4.0
748242  62394    8207     3.5
757636  63405    8207     4.0
758146  63438    8207     4.0
764350  64344    8207     4.5
770333  64540    8207     3.0
771226  64581    8207     3.0
775548  64969    8207     2.0
796512  66892    8207     3.5
797547  67010    8207     5.0
815321  68773    8207     4.5
827292  69576    8207     3.0
854737  71509    8207     4.5
76561    6757    8586     1.5
328339  26738    8586     3.5
611187  50156    8586     3.5

[149 rows x 3 columns]

In [5]:
df_new.to_csv(DATAPATH + "rating.csv", index=False)

In [6]:
user_list = df_new["userID"].tolist()
len(user_list)

149

In [7]:
user_list = list(set(user_list))
user_list.sort()
len(user_list)

148

In [8]:
file = open(DATAPATH + "userID.txt", "w")
for value in user_list:
    file.write(str(value)+"\n")
file.close()